<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset name="square" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_LABEL">
        <field name="square_environment" type="list" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_ENV" default="sandbox" class="form-select">
            <option value="sandbox">COM_SANCTUARYSHOP_CONFIG_SQUARE_ENV_SANDBOX</option>
            <option value="production">COM_SANCTUARYSHOP_CONFIG_SQUARE_ENV_PRODUCTION</option>
        </field>
        <field name="square_application_id" type="text" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_APP_ID" class="form-control" />
        <field name="square_access_token" type="password" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_ACCESS_TOKEN" class="form-control" />
        <field name="square_location_id" type="text" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_LOCATION_ID" class="form-control" />
        <field name="square_webhook_signature_key" type="password" label="COM_SANCTUARYSHOP_CONFIG_SQUARE_WEBHOOK_KEY" class="form-control" />
    </fieldset>
    <fieldset name="shop" label="COM_SANCTUARYSHOP_CONFIG_SHOP_LABEL">
        <field name="currency" type="text" label="COM_SANCTUARYSHOP_CONFIG_CURRENCY" default="USD" maxlength="3" class="form-control" />
        <field name="tax_rate" type="number" label="COM_SANCTUARYSHOP_CONFIG_TAX_RATE" default="0" min="0" max="100" step="0.01" class="form-control" hint="Percentage, e.g. 8.5" />
        <field name="products_per_page" type="number" label="COM_SANCTUARYSHOP_CONFIG_PRODUCTS_PER_PAGE" default="12" min="1" class="form-control" />
        <field name="notify_email" type="email" label="COM_SANCTUARYSHOP_CONFIG_NOTIFY_EMAIL" class="form-control" hint="Order notification recipient" />
    </fieldset>
</config>
